@import "../../scss/variables";
@import "../../scss/libs/normalize";

.root {
  ul {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $medium) {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  li {
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    width: 100px;
    text-align: center;
    @include noselect();

    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }

    &:active {
      background-color: darken(#f9f9f9, 5%);
    }

    &.active {
      background-color: #282828;
      color: #fff;
    }
    @media screen and (max-width: $medium) {
      margin-bottom: 10px;
    }
  }
}
