@import "../../scss/variables";

.content {
  padding: 35px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $medium) {
      flex-direction: column;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}
